{% extends "layout.html" %}

{% block content %}

<div class="text-center">
  <div class="container">
    <img src="/images/inicio.png" alt="..." class="img-thumbnail" style="width: 30%;">
    <h1>¡Bienvenido al sistema de inventario!</h1>
  </div>
</div>

{% endblock %}
